#certifications{
    .container > .row {
        @include media($bp-lg) {
          height: min(800px, 95vh);
        }
      }
    h1 {
        font-family: Roboto Mono;
        text-align: center;
        font-size: 2.0rem;
    }
    .col-6 {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
      }
      ul {
      margin-bottom: 3rem;
      }
}
